<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Primera Página Web</title>
</head>
<body>

    <!--Los encabezados se usan para los títulos de la página -->
    <h1>¡Hola, Mundo!</h1>
    
    <!-- Las etiquetas <p> definen los párrafos de texto -->
    <p>Este es un pequeño ejemplo de código HTML. Estoy aprendiendo a utilizar Git y GitHub.</p>
    
    <!-- Las etiquetas <a> crean enlaces a otras páginas web -->
    <a href="https://git-scm.com/" target="_blank">Haz clic aquí para aprender más en Git</a>

</body>
</html>
